In [197]:
import numpy as np
import pandas as pd

In [198]:
train_df = pd.read_csv('train.csv')
test_df = pd.read_csv('test.csv')
res_df = pd.read_csv('resources.csv')

e:\工具\python\python36\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [199]:
train_df.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects,project_is_approved
0,p036502,484aaf11257089a66cfedc9461c6bd0a,Ms.,NV,2016-11-18 14:45:59,Grades PreK-2,Literacy & Language,Literacy,Super Sight Word Centers,Most of my kindergarten students come from low...,I currently have a differentiated sight word c...,NaN,NaN,My students need 6 Ipod Nano's to create and d...,26,1
1,p039565,df72a3ba8089423fa8a94be88060f6ed,Mrs.,GA,2017-04-26 15:57:28,Grades 3-5,"Music & The Arts, Health & Sports","Performing Arts, Team Sports",Keep Calm and Dance On,Our elementary school is a culturally rich sch...,We strive to provide our diverse population of...,NaN,NaN,My students need matching shirts to wear for d...,1,0
2,p233823,a9b876a9252e08a55e3d894150f75ba3,Ms.,UT,2017-01-01 22:57:44,Grades 3-5,"Math & Science, Literacy & Language","Applied Sciences, Literature & Writing",Lets 3Doodle to Learn,Hello;\r\nMy name is Mrs. Brotherton. I teach ...,We are looking to add some 3Doodler to our cla...,NaN,NaN,My students need the 3doodler. We are an SEM s...,5,1
3,p185307,525fdbb6ec7f538a48beebaa0a51b24f,Mr.,NC,2016-08-12 15:42:11,Grades 3-5,Health & Sports,Health & Wellness,"\""Kid Inspired\"" Equipment to Increase Activit...",My students are the greatest students but are ...,"The student's project which is totally \""kid-i...",NaN,NaN,My students need balls and other activity equi...,16,0
4,p013780,a63b5547a7239eae4c1872670848e61a,Mr.,CA,2016-08-06 09:09:11,Grades 6-8,Health & Sports,Health & Wellness,We need clean water for our culinary arts class!,My students are athletes and students who are ...,For some reason in our kitchen the water comes...,NaN,NaN,My students need a water filtration system for...,42,1

In [200]:
test_df.head()

,id,teacher_id,teacher_prefix,school_state,project_submitted_datetime,project_grade_category,project_subject_categories,project_subject_subcategories,project_title,project_essay_1,project_essay_2,project_essay_3,project_essay_4,project_resource_summary,teacher_number_of_previously_posted_projects
0,p233245,5724a0c3ce11008366fff36dab4b943c,Ms.,CA,2016-04-27 13:45:41,Grades PreK-2,Music & The Arts,Visual Arts,Art Will Make You Happy!,My 2nd grade students are amazing! They are v...,My class is made up of 12 boys and 12 girls. ...,My second grade class will really benefit from...,The genorous donations to my project will make...,My students need a drying rack for their art p...,2
1,p096795,445619941dc7cbe81c7be109dc61a56a,Mrs.,SC,2016-04-28 12:43:56,Grades 3-5,"Literacy & Language, Math & Science","Literature & Writing, Mathematics",Keeping up with the TIMEs,Students within the classroom work in small gr...,My students are all very talented young indivi...,"We do a lot of small group, where the student ...",This project is very important to my classroom...,My students need Time Magazines for next year ...,1
2,p236235,e92a4902b1611a189643d6f12c51e6a0,Mrs.,SC,2016-04-29 21:16:05,Grades PreK-2,Math & Science,"Applied Sciences, Mathematics",Building Bridges to Problem Solving,My students share a love of learning. These s...,My class consists of 14 energetic learners. O...,These Fairy Tale Problem Solving STEM kits wil...,These materials will be help my students with ...,My students need to be mentally stimulated to ...,0
3,p233680,8e92622d2985d3faac1de71609c4be72,Mrs.,IA,2016-04-27 22:32:43,Grades PreK-2,Literacy & Language,Literacy,Classroom Library,Reading is the gateway to the soul. Guiding c...,First graders enter the classroom each day rea...,Book bins will help to organize our classroom ...,"When students begin the first grade, many are ...",My students need an organized classroom library.,0
4,p171879,91a3c89981f626d9a0d067c65fb186ce,Mr.,CA,2016-04-27 18:59:15,Grades 6-8,"Music & The Arts, Special Needs","Performing Arts, Special Needs",Reeds so we can Read,"\""Mr. Reyes! I need another reed!\"" I hear t...",We have a diverse population with almost entir...,Each day in my class students consume supplies...,My students come from very troubled homes and ...,My students need reeds to perform in class eac...,1

In [201]:
res_df.head()

,id,description,quantity,price
0,p233245,LC652 - Lakeshore Double-Space Mobile Drying Rack,1,149.00
1,p069063,Bouncy Bands for Desks (Blue support pipes),3,14.95
2,p069063,Cory Stories: A Kid's Book About Living With Adhd,1,8.45
3,p069063,"Dixon Ticonderoga Wood-Cased #2 HB Pencils, Bo...",2,13.59
4,p069063,EDUCATIONAL INSIGHTS FLUORESCENT LIGHT FILTERS...,3,24.95

In [202]:
res_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1541272 entries, 0 to 1541271
Data columns (total 4 columns):
id             1541272 non-null object
description    1540980 non-null object
quantity       1541272 non-null int64
price          1541272 non-null float64
dtypes: float64(1), int64(1), object(2)
memory usage: 47.0+ MB

In [203]:
from collections import Counter

In [204]:
res_df.description = res_df.description.apply(lambda x: 'Unkown' if pd.isna(x) else ' '.join([i for i in ('-'.join(x.lower().split())).split('-') if i!=''][:3])).apply(lambda x: x.replace('�',''))

In [205]:
res_df['no_description']=0
res_df.loc[res_df.description=='Unkown', 'no_description'] = 1

In [206]:
most_description = [i[0] for i in Counter(res_df.description).most_common(30)]
for i in most_description:
    res_df['description_'+i] = res_df.description.apply(lambda x:1 if x==i else 0)

In [207]:
res_df['is_free'] = 0
res_df.loc[res_df.price==0, 'is_free'] = 1

In [208]:
res_df['spend']=res_df.quantity * res_df.price

In [209]:
cols = res_df.columns[4:]
params = {i:'sum' for i in cols}

In [210]:
params['description'] = 'count'
params['quantity'] = 'sum'
params['price'] = 'mean'

In [211]:
res = res_df.groupby('id').agg(params)

In [212]:
from sklearn.preprocessing import StandardScaler

In [213]:
res[['price','spend']] = StandardScaler().fit_transform(res[['price','spend']])

In [214]:
res.reset_index(inplace=True)

In [215]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 182080 entries, 0 to 182079
Data columns (total 16 columns):
id                                              182080 non-null object
teacher_id                                      182080 non-null object
teacher_prefix                                  182076 non-null object
school_state                                    182080 non-null object
project_submitted_datetime                      182080 non-null object
project_grade_category                          182080 non-null object
project_subject_categories                      182080 non-null object
project_subject_subcategories                   182080 non-null object
project_title                                   182080 non-null object
project_essay_1                                 182080 non-null object
project_essay_2                                 182080 non-null object
project_essay_3                                 6374 non-null object
project_essay_4                                 6374 non-null object
project_resource_summary                        182080 non-null object
teacher_number_of_previously_posted_projects    182080 non-null int64
project_is_approved                             182080 non-null int64
dtypes: int64(2), object(14)
memory usage: 22.2+ MB

In [216]:
train_n = len(train_df)

In [217]:
all_df = pd.concat([train_df, test_df], sort=False, ignore_index=True)

In [218]:
all_df = pd.merge(all_df, res, how='left', on='id', sort=False)

In [219]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 260115 entries, 0 to 260114
Data columns (total 52 columns):
id                                              260115 non-null object
teacher_id                                      260115 non-null object
teacher_prefix                                  260110 non-null object
school_state                                    260115 non-null object
project_submitted_datetime                      260115 non-null object
project_grade_category                          260115 non-null object
project_subject_categories                      260115 non-null object
project_subject_subcategories                   260115 non-null object
project_title                                   260115 non-null object
project_essay_1                                 260115 non-null object
project_essay_2                                 260115 non-null object
project_essay_3                                 9078 non-null object
project_essay_4                                 9078 non-null object
project_resource_summary                        260115 non-null object
teacher_number_of_previously_posted_projects    260115 non-null int64
project_is_approved                             182080 non-null float64
no_description                                  260115 non-null int64
description_apple ipad mini                     260115 non-null int64
description_gaiam kids stay                     260115 non-null int64
description_national geographic readers:        260115 non-null int64
description_kore patented wobble                260115 non-null int64
description_bouncy bands for                    260115 non-null int64
description_apple ipad air                      260115 non-null int64
description_melissa & doug                      260115 non-null int64
description_kids kore wobble                    260115 non-null int64
description_hp chromebook 11                    260115 non-null int64
description_fire tablet, 7"                     260115 non-null int64
description_hokki stool 15"                     260115 non-null int64
description_expo low odor                       260115 non-null int64
description_norwood commercial furniture        260115 non-null int64
description_hokki stool 18"                     260115 non-null int64
description_inflated stability wobble           260115 non-null int64
description_standard shipping                   260115 non-null int64
description_kore kids wobble                    260115 non-null int64
description_diary of a                          260115 non-null int64
description_neenah astrobrights premium         260115 non-null int64
description_binney & smith                      260115 non-null int64
description_time for kids                       260115 non-null int64
description_scholastic news, grade              260115 non-null int64
description_otterbox defender series            260115 non-null int64
description_gaiam kids balance                  260115 non-null int64
description_learniture lnt 3046                 260115 non-null int64
description_hp 11.6'chromebook intel            260115 non-null int64
description_air stability wobble                260115 non-null int64
description_option class cs                     260115 non-null int64
description_osmo genius kit                     260115 non-null int64
description_gaiam balance ball                  260115 non-null int64
is_free                                         260115 non-null int64
spend                                           260115 non-null float64
description                                     260115 non-null int64
quantity                                        260115 non-null int64
price                                           260115 non-null float64
dtypes: float64(3), int64(35), object(14)
memory usage: 105.2+ MB

In [220]:
most_teacher = [i[0] for i in Counter(all_df.teacher_id).most_common(30)]

In [221]:
for i in most_teacher:
    all_df['teacher_'+i] = all_df.teacher_id.apply(lambda x:1 if x==i else 0)

In [222]:
all_df.teacher_prefix.fillna(all_df.teacher_prefix.mode()[0], inplace=True)

In [223]:
dummies = ['teacher_prefix', 'school_state']

In [224]:
all_df['project_submitted_datetime'] = pd.to_datetime(all_df['project_submitted_datetime'])

In [225]:
all_df['submitted_year']=all_df['project_submitted_datetime'].dt.year
all_df['submitted_month']=all_df['project_submitted_datetime'].dt.month

In [226]:
dummies.extend(['submitted_year','submitted_month'])

In [227]:
dummies.append('project_grade_category')

In [228]:
all_df.project_subject_categories = all_df.project_subject_categories.apply(lambda x: [i.strip() for i in x.lower().replace('&', '-').replace(',','-').split('-')])

In [229]:
subject_categories = set(j for i in all_df.project_subject_categories for j in i)

In [230]:
for i in subject_categories:
    all_df[i] = all_df.project_subject_categories.apply(lambda x:1 if i in x else 0)

In [231]:
all_df.project_subject_subcategories = all_df.project_subject_subcategories.apply(lambda x: [i.strip() for i in x.lower().replace('&', '-').replace(',','-').split('-')])

In [232]:
subject_subcategories = set(j for i in all_df.project_subject_subcategories for j in i)

In [233]:
subject_subcategories = subject_subcategories - subject_categories

In [234]:
for i in subject_subcategories:
    all_df[i] = all_df.project_subject_subcategories.apply(lambda x:1 if i in x else 0)

In [235]:
all_df['project_title_len'] = all_df.project_title.apply(lambda x: len(x.split()))

In [236]:
most_tiltle = [i[0] for i in Counter(all_df.project_title).most_common(30)]

In [237]:
for i in most_tiltle:
    all_df['title_'+i] = all_df.project_title.apply(lambda x:1 if x==i else 0)

In [238]:
all_df['project_essay_1_len'] = all_df.project_essay_1.apply(lambda x: len(x.split()))

In [239]:
all_df['project_essay_2_len'] = all_df.project_essay_2.apply(lambda x: len(x.split()))

In [240]:
all_df['project_essay_3_len'] = all_df.project_essay_3.apply(lambda x:0 if pd.isna(x) else len(x.split()))

In [241]:
all_df['project_essay_4_len'] = all_df.project_essay_4.apply(lambda x: 0 if pd.isna(x) else len(x.split()))

In [242]:
all_df['project_essay'] = all_df.apply(lambda x: ' '.join([x['project_essay_1'],x['project_essay_2'],str(x['project_essay_3']),str(x['project_essay_4'])]), axis=1)

In [243]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [244]:
feature_nums = [50, 200, 100]
tf_cols = ['project_title', 'project_essay', 'project_resource_summary']

In [245]:
for i, col in enumerate(tf_cols):
    tf_idf = TfidfVectorizer(max_features=feature_nums[i], stop_words='english')
    ndarray = tf_idf.fit_transform(all_df[col]).toarray()
    columns = [col+'_'+j for j in tf_idf.get_feature_names()]
    new_df = pd.DataFrame(ndarray, columns=columns)
    all_df = pd.concat([all_df, new_df], axis=1, sort=False)

In [246]:
all_df['project_resource_summary_len'] = all_df.project_resource_summary.apply(lambda x: len(x.split()))

In [247]:
all_df.teacher_number_of_previously_posted_projects = StandardScaler().fit_transform(all_df.teacher_number_of_previously_posted_projects.values.reshape(-1,1))

In [248]:
dummies

['teacher_prefix',
 'school_state',
 'submitted_year',
 'submitted_month',
 'project_grade_category']

In [249]:
cols = ['id','teacher_id','project_submitted_datetime','project_subject_categories','project_subject_subcategories', 
        'project_title','project_essay_1','project_essay_2','project_essay_3','project_essay_4','project_resource_summary',
        'project_essay']

In [250]:
all_df.drop(cols, axis=1, inplace=True)

In [251]:
all_df = pd.get_dummies(all_df, columns=dummies)

In [252]:
train = all_df[:train_n]
test = all_df[train_n:]

In [253]:
train_y = train['project_is_approved']
train = train.drop('project_is_approved', axis=1)
test = test.drop('project_is_approved', axis=1)

In [254]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split,GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.feature_selection import SelectFromModel
from sklearn.preprocessing import PolynomialFeatures

In [255]:
sf = SelectFromModel(RandomForestClassifier(max_depth=7))
sf.fit(train, train_y)
train = sf.transform(train)
test = sf.transform(test)
poly = PolynomialFeatures()
train = poly.fit_transform(train)
test = poly.transform(test)

e:\工具\python\python36\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [256]:
X_train, X_test, y_train, y_test = train_test_split(train, train_y, random_state=42)

In [257]:
lr = LogisticRegression()
lr.fit(X_train, y_train)

e:\工具\python\python36\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [258]:
lr.score(X_train, y_train)

0.8487990626830697

In [259]:
lr.score(X_test, y_test)

0.848945518453427

In [260]:
rf = RandomForestClassifier(max_depth=5)
rf.fit(X_train, y_train)

e:\工具\python\python36\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=5, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [261]:
rf.score(X_train, y_train)

0.8477592267135325

In [262]:
rf.score(X_test, y_test)

0.8474516695957821

In [263]:
param_grid = {'n_estimators':[50, 100],
             'max_depth':[3, 5, 7]}
grid = GridSearchCV(RandomForestClassifier(), param_grid, cv=5, scoring='roc_auc')
grid.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestClassifier(bootstrap=True, class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators='warn', n_jobs=None,
                                              oob_score=False,
                                              random_state=None, verbose=0,
                                              warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [3, 5, 7], 'n_estimators': [50, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='roc_auc', verbose=0)

In [264]:
grid.best_score_

0.7197352789734236

In [265]:
grid.best_estimator_

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=7, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [266]:
grid.score(X_train, y_train)

0.7385928461181117

In [267]:
grid.score(X_test, y_test)

0.7211524557065638

In [268]:
predict = grid.predict_proba(test)[:,1]

In [269]:
submission = pd.DataFrame({'id':test_df.id,
                           'project_is_approved':predict})

In [270]:
submission.to_csv('submission.csv', index=False)