In [2635]:
import pandas as pd 
import numpy as np

In [2636]:
df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

In [2637]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1460 entries, 0 to 1459
Data columns (total 81 columns):
Id               1460 non-null int64
MSSubClass       1460 non-null int64
MSZoning         1460 non-null object
LotFrontage      1201 non-null float64
LotArea          1460 non-null int64
Street           1460 non-null object
Alley            91 non-null object
LotShape         1460 non-null object
LandContour      1460 non-null object
Utilities        1460 non-null object
LotConfig        1460 non-null object
LandSlope        1460 non-null object
Neighborhood     1460 non-null object
Condition1       1460 non-null object
Condition2       1460 non-null object
BldgType         1460 non-null object
HouseStyle       1460 non-null object
OverallQual      1460 non-null int64
OverallCond      1460 non-null int64
YearBuilt        1460 non-null int64
YearRemodAdd     1460 non-null int64
RoofStyle        1460 non-null object
RoofMatl         1460 non-null object
Exterior1st      1460 non-null object
Exterior2nd      1460 non-null object
MasVnrType       1452 non-null object
MasVnrArea       1452 non-null float64
ExterQual        1460 non-null object
ExterCond        1460 non-null object
Foundation       1460 non-null object
BsmtQual         1423 non-null object
BsmtCond         1423 non-null object
BsmtExposure     1422 non-null object
BsmtFinType1     1423 non-null object
BsmtFinSF1       1460 non-null int64
BsmtFinType2     1422 non-null object
BsmtFinSF2       1460 non-null int64
BsmtUnfSF        1460 non-null int64
TotalBsmtSF      1460 non-null int64
Heating          1460 non-null object
HeatingQC        1460 non-null object
CentralAir       1460 non-null object
Electrical       1459 non-null object
1stFlrSF         1460 non-null int64
2ndFlrSF         1460 non-null int64
LowQualFinSF     1460 non-null int64
GrLivArea        1460 non-null int64
BsmtFullBath     1460 non-null int64
BsmtHalfBath     1460 non-null int64
FullBath         1460 non-null int64
HalfBath         1460 non-null int64
BedroomAbvGr     1460 non-null int64
KitchenAbvGr     1460 non-null int64
KitchenQual      1460 non-null object
TotRmsAbvGrd     1460 non-null int64
Functional       1460 non-null object
Fireplaces       1460 non-null int64
FireplaceQu      770 non-null object
GarageType       1379 non-null object
GarageYrBlt      1379 non-null float64
GarageFinish     1379 non-null object
GarageCars       1460 non-null int64
GarageArea       1460 non-null int64
GarageQual       1379 non-null object
GarageCond       1379 non-null object
PavedDrive       1460 non-null object
WoodDeckSF       1460 non-null int64
OpenPorchSF      1460 non-null int64
EnclosedPorch    1460 non-null int64
3SsnPorch        1460 non-null int64
ScreenPorch      1460 non-null int64
PoolArea         1460 non-null int64
PoolQC           7 non-null object
Fence            281 non-null object
MiscFeature      54 non-null object
MiscVal          1460 non-null int64
MoSold           1460 non-null int64
YrSold           1460 non-null int64
SaleType         1460 non-null object
SaleCondition    1460 non-null object
SalePrice        1460 non-null int64
dtypes: float64(3), int64(35), object(43)
memory usage: 924.0+ KB

In [2638]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1459 entries, 0 to 1458
Data columns (total 80 columns):
Id               1459 non-null int64
MSSubClass       1459 non-null int64
MSZoning         1455 non-null object
LotFrontage      1232 non-null float64
LotArea          1459 non-null int64
Street           1459 non-null object
Alley            107 non-null object
LotShape         1459 non-null object
LandContour      1459 non-null object
Utilities        1457 non-null object
LotConfig        1459 non-null object
LandSlope        1459 non-null object
Neighborhood     1459 non-null object
Condition1       1459 non-null object
Condition2       1459 non-null object
BldgType         1459 non-null object
HouseStyle       1459 non-null object
OverallQual      1459 non-null int64
OverallCond      1459 non-null int64
YearBuilt        1459 non-null int64
YearRemodAdd     1459 non-null int64
RoofStyle        1459 non-null object
RoofMatl         1459 non-null object
Exterior1st      1458 non-null object
Exterior2nd      1458 non-null object
MasVnrType       1443 non-null object
MasVnrArea       1444 non-null float64
ExterQual        1459 non-null object
ExterCond        1459 non-null object
Foundation       1459 non-null object
BsmtQual         1415 non-null object
BsmtCond         1414 non-null object
BsmtExposure     1415 non-null object
BsmtFinType1     1417 non-null object
BsmtFinSF1       1458 non-null float64
BsmtFinType2     1417 non-null object
BsmtFinSF2       1458 non-null float64
BsmtUnfSF        1458 non-null float64
TotalBsmtSF      1458 non-null float64
Heating          1459 non-null object
HeatingQC        1459 non-null object
CentralAir       1459 non-null object
Electrical       1459 non-null object
1stFlrSF         1459 non-null int64
2ndFlrSF         1459 non-null int64
LowQualFinSF     1459 non-null int64
GrLivArea        1459 non-null int64
BsmtFullBath     1457 non-null float64
BsmtHalfBath     1457 non-null float64
FullBath         1459 non-null int64
HalfBath         1459 non-null int64
BedroomAbvGr     1459 non-null int64
KitchenAbvGr     1459 non-null int64
KitchenQual      1458 non-null object
TotRmsAbvGrd     1459 non-null int64
Functional       1457 non-null object
Fireplaces       1459 non-null int64
FireplaceQu      729 non-null object
GarageType       1383 non-null object
GarageYrBlt      1381 non-null float64
GarageFinish     1381 non-null object
GarageCars       1458 non-null float64
GarageArea       1458 non-null float64
GarageQual       1381 non-null object
GarageCond       1381 non-null object
PavedDrive       1459 non-null object
WoodDeckSF       1459 non-null int64
OpenPorchSF      1459 non-null int64
EnclosedPorch    1459 non-null int64
3SsnPorch        1459 non-null int64
ScreenPorch      1459 non-null int64
PoolArea         1459 non-null int64
PoolQC           3 non-null object
Fence            290 non-null object
MiscFeature      51 non-null object
MiscVal          1459 non-null int64
MoSold           1459 non-null int64
YrSold           1459 non-null int64
SaleType         1458 non-null object
SaleCondition    1459 non-null object
dtypes: float64(11), int64(26), object(43)
memory usage: 912.0+ KB

In [2639]:
df_train.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [2640]:
combine = [df_train, df_test]

In [2641]:
for i in combine:
    i.drop('Id', axis=1, inplace=True)

In [2642]:
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,LotConfig,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,Inside,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,Corner,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,FR2,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [2643]:
df_train.columns[df_train.isnull().any()]

Index(['LotFrontage', 'Alley', 'MasVnrType', 'MasVnrArea', 'BsmtQual',
       'BsmtCond', 'BsmtExposure', 'BsmtFinType1', 'BsmtFinType2',
       'Electrical', 'FireplaceQu', 'GarageType', 'GarageYrBlt',
       'GarageFinish', 'GarageQual', 'GarageCond', 'PoolQC', 'Fence',
       'MiscFeature'],
      dtype='object')

In [2644]:
df_train['LotFrontage'].value_counts()

60.0     143
70.0      70
80.0      69
50.0      57
75.0      53
65.0      44
85.0      40
78.0      25
21.0      23
90.0      23
68.0      19
24.0      19
64.0      19
73.0      18
72.0      17
79.0      17
63.0      17
55.0      17
100.0     16
51.0      15
66.0      15
74.0      15
52.0      14
59.0      13
71.0      12
82.0      12
40.0      12
43.0      12
67.0      12
57.0      12
        ...
129.0      2
124.0      2
118.0      2
101.0      2
122.0      2
121.0      2
115.0      2
109.0      2
116.0      2
114.0      2
150.0      1
111.0      1
153.0      1
182.0      1
46.0       1
112.0      1
149.0      1
141.0      1
33.0       1
152.0      1
160.0      1
168.0      1
128.0      1
144.0      1
39.0       1
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 110, dtype: int64

In [2645]:
df_train['LotFrontage'].fillna(df_train['LotFrontage'].mode()[0], inplace=True)

In [2646]:
df_test['LotFrontage'].fillna(df_train['LotFrontage'].mode()[0], inplace=True)

In [2647]:
df_train.drop(['Alley'],axis=1, inplace=True)

In [2648]:
df_test.drop(['Alley'],axis=1, inplace=True)

In [2649]:
df_train['MasVnrType'].value_counts()

None       864
BrkFace    445
Stone      128
BrkCmn      15
Name: MasVnrType, dtype: int64

In [2650]:
df_train.drop(['MasVnrType'],axis=1, inplace=True)

In [2651]:
df_test.drop(['MasVnrType'],axis=1, inplace=True)

In [2652]:
df_train.drop(['MasVnrArea'],axis=1, inplace=True)

In [2653]:
df_test.drop(['MasVnrArea'],axis=1, inplace=True)

In [2654]:
df_train['BsmtQual'].value_counts()

TA    649
Gd    618
Ex    121
Fa     35
Name: BsmtQual, dtype: int64

In [2655]:
df_train['BsmtQual'].fillna('NA', inplace=True)

In [2656]:
df_test['BsmtQual'].fillna('NA', inplace=True)

In [2657]:
df_train['BsmtCond'].value_counts()

TA    1311
Gd      65
Fa      45
Po       2
Name: BsmtCond, dtype: int64

In [2658]:
df_train['BsmtCond'].fillna('NA', inplace=True)

In [2659]:
df_test['BsmtCond'].fillna('NA', inplace=True)

In [2660]:
df_train['BsmtExposure'].value_counts()

No    953
Av    221
Gd    134
Mn    114
Name: BsmtExposure, dtype: int64

In [2661]:
df_train['BsmtExposure'].fillna('NA', inplace=True)

In [2662]:
df_test['BsmtExposure'].fillna('NA', inplace=True)

In [2663]:
for i in  ['BsmtFinType1', 'BsmtFinType2']:
    df_train[i].fillna('NA', inplace=True)
    df_test[i].fillna('NA', inplace=True)

In [2664]:
df_train['Electrical'].value_counts()

SBrkr    1334
FuseA      94
FuseF      27
FuseP       3
Mix         1
Name: Electrical, dtype: int64

In [2665]:
df_train['Electrical'].fillna(df_train['Electrical'].mode()[0], inplace=True)

In [2666]:
df_test['Electrical'].fillna(df_train['Electrical'].mode()[0], inplace=True)

In [2667]:
df_train['FireplaceQu'].value_counts()

Gd    380
TA    313
Fa     33
Ex     24
Po     20
Name: FireplaceQu, dtype: int64

In [2668]:
df_train['FireplaceQu'].fillna('NA', inplace=True)

In [2669]:
df_test['FireplaceQu'].fillna('NA', inplace=True)

In [2670]:
for i in ['GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageQual', 'GarageCond']:
    df_train[i].fillna('NA', inplace=True)
    df_test[i].fillna('NA', inplace=True)

In [2671]:
df_train['GarageYrBlt'].value_counts()

NA        81
2005.0    65
2006.0    59
2004.0    53
2003.0    50
2007.0    49
1977.0    35
1998.0    31
1999.0    30
2008.0    29
1976.0    29
2000.0    27
1968.0    26
2002.0    26
1950.0    24
1993.0    22
1958.0    21
1965.0    21
1966.0    21
1962.0    21
2009.0    21
1996.0    20
2001.0    20
1957.0    20
1970.0    20
1960.0    19
1978.0    19
1997.0    19
1954.0    19
1964.0    18
          ..
1916.0     5
1936.0     5
1922.0     5
1982.0     4
1928.0     4
1946.0     4
1945.0     4
1931.0     4
1935.0     4
1932.0     3
1938.0     3
1952.0     3
1921.0     3
1910.0     3
2010.0     3
1924.0     3
1923.0     3
1918.0     2
1915.0     2
1914.0     2
1929.0     2
1934.0     2
1937.0     2
1942.0     2
1947.0     2
1927.0     1
1933.0     1
1908.0     1
1906.0     1
1900.0     1
Name: GarageYrBlt, Length: 98, dtype: int64

In [2672]:
for i in ['PoolQC', 'Fence','MiscFeature']:
    df_train[i].fillna('NA', inplace=True)
    df_test[i].fillna('NA', inplace=True)

In [2673]:
df_test.columns[df_test.isnull().any()]

Index(['MSZoning', 'Utilities', 'Exterior1st', 'Exterior2nd', 'BsmtFinSF1',
       'BsmtFinSF2', 'BsmtUnfSF', 'TotalBsmtSF', 'BsmtFullBath',
       'BsmtHalfBath', 'KitchenQual', 'Functional', 'GarageCars', 'GarageArea',
       'SaleType'],
      dtype='object')

In [2674]:
df_test['MSZoning'].value_counts()

RL         1114
RM          242
FV           74
C (all)      15
RH           10
Name: MSZoning, dtype: int64

In [2675]:
df_test['MSZoning'].isnull().sum()

4

In [2676]:
df_test['MSZoning'].fillna(df_test['MSZoning'].mode()[0], inplace=True)

In [2677]:
df_test['Utilities'].value_counts()

AllPub    1457
Name: Utilities, dtype: int64

In [2678]:
df_test['Utilities'].fillna(df_test['Utilities'].mode()[0], inplace=True)

In [2679]:
df_test['Exterior1st'].value_counts()

VinylSd    510
MetalSd    230
HdBoard    220
Wd Sdng    205
Plywood    113
CemntBd     65
BrkFace     37
WdShing     30
AsbShng     24
Stucco      18
BrkComm      4
CBlock       1
AsphShn      1
Name: Exterior1st, dtype: int64

In [2680]:
df_test['Exterior1st'].fillna(df_test['Exterior1st'].mode()[0], inplace=True)

In [2681]:
df_test['Exterior2nd'].value_counts()

VinylSd    510
MetalSd    233
HdBoard    199
Wd Sdng    194
Plywood    128
CmentBd     66
Wd Shng     43
BrkFace     22
Stucco      21
AsbShng     18
Brk Cmn     15
ImStucc      5
CBlock       2
AsphShn      1
Stone        1
Name: Exterior2nd, dtype: int64

In [2682]:
df_test['Exterior2nd'].fillna(df_test['Exterior2nd'].mode()[0], inplace=True)

In [2683]:
df_test['BsmtFinSF1'].value_counts()

0.0       462
24.0       15
276.0       6
602.0       6
300.0       5
758.0       5
16.0        5
288.0       5
330.0       4
624.0       4
476.0       4
864.0       4
544.0       4
600.0       4
468.0       4
384.0       4
456.0       4
700.0       4
375.0       4
915.0       4
60.0        4
252.0       4
500.0       4
368.0       4
779.0       3
435.0       3
800.0       3
637.0       3
36.0        3
68.0        3
         ...
388.0       1
286.0       1
568.0       1
417.0       1
362.0       1
134.0       1
1200.0      1
552.0       1
994.0       1
460.0       1
262.0       1
1104.0      1
332.0       1
728.0       1
492.0       1
261.0       1
154.0       1
1048.0      1
1129.0      1
438.0       1
908.0       1
1080.0      1
924.0       1
234.0       1
324.0       1
278.0       1
210.0       1
580.0       1
1328.0      1
771.0       1
Name: BsmtFinSF1, Length: 669, dtype: int64

In [2684]:
df_test['BsmtFinSF1'].fillna(df_test['BsmtFinSF1'].mode()[0], inplace=True)

In [2685]:
df_test['BsmtFinSF2'].value_counts()

0.0       1278
162.0        3
294.0        3
483.0        3
144.0        2
288.0        2
590.0        2
596.0        2
435.0        2
116.0        2
72.0         2
270.0        2
247.0        2
159.0        2
60.0         2
42.0         2
168.0        2
252.0        2
465.0        1
691.0        1
841.0        1
1526.0       1
344.0        1
761.0        1
259.0        1
393.0        1
474.0        1
613.0        1
774.0        1
522.0        1
          ...
174.0        1
859.0        1
755.0        1
799.0        1
497.0        1
419.0        1
373.0        1
679.0        1
273.0        1
543.0        1
202.0        1
95.0         1
492.0        1
382.0        1
904.0        1
105.0        1
127.0        1
210.0        1
154.0        1
138.0        1
748.0        1
404.0        1
206.0        1
278.0        1
121.0        1
308.0        1
167.0        1
186.0        1
250.0        1
750.0        1
Name: BsmtFinSF2, Length: 161, dtype: int64

In [2686]:
df_test['BsmtFinSF2'].fillna(df_test['BsmtFinSF2'].mode()[0], inplace=True)

In [2687]:
df_test['BsmtUnfSF'].value_counts()

0.0       123
384.0      11
624.0       8
480.0       7
100.0       7
672.0       7
348.0       7
738.0       7
120.0       6
216.0       6
784.0       6
294.0       6
816.0       6
322.0       5
728.0       5
546.0       5
525.0       5
585.0       5
226.0       5
228.0       5
30.0        5
832.0       5
240.0       5
150.0       5
768.0       5
186.0       5
600.0       5
396.0       5
456.0       5
306.0       5
         ...
1270.0      1
129.0       1
390.0       1
161.0       1
1105.0      1
1214.0      1
470.0       1
290.0       1
747.0       1
613.0       1
615.0       1
1146.0      1
1694.0      1
809.0       1
577.0       1
1721.0      1
2140.0      1
1090.0      1
1254.0      1
354.0       1
671.0       1
1043.0      1
1153.0      1
1335.0      1
1324.0      1
406.0       1
1604.0      1
1369.0      1
549.0       1
1211.0      1
Name: BsmtUnfSF, Length: 793, dtype: int64

In [2688]:
df_test['BsmtUnfSF'].fillna(df_test['BsmtUnfSF'].mode()[0], inplace=True)

In [2689]:
df_test['TotalBsmtSF'].value_counts()

0.0       41
864.0     39
960.0     13
546.0     12
672.0     12
384.0     12
1008.0    12
768.0     12
1040.0    11
912.0     11
624.0     10
988.0     10
816.0     10
600.0      9
720.0      9
738.0      8
936.0      8
728.0      8
780.0      8
756.0      8
1168.0     7
784.0      7
483.0      7
832.0      7
1100.0     6
894.0      6
840.0      6
572.0      5
1073.0     5
984.0      5
          ..
1829.0     1
1388.0     1
629.0      1
1748.0     1
1172.0     1
1166.0     1
1702.0     1
245.0      1
1127.0     1
1116.0     1
1678.0     1
690.0      1
908.0      1
1236.0     1
1260.0     1
2024.0     1
994.0      1
407.0      1
969.0      1
810.0      1
1436.0     1
1406.0     1
1369.0     1
1726.0     1
1196.0     1
918.0      1
1910.0     1
1700.0     1
750.0      1
1075.0     1
Name: TotalBsmtSF, Length: 736, dtype: int64

In [2690]:
df_test['TotalBsmtSF'].fillna(df_test['TotalBsmtSF'].mode()[0], inplace=True)

In [2691]:
df_test['BsmtFullBath'].value_counts()

0.0    849
1.0    584
2.0     23
3.0      1
Name: BsmtFullBath, dtype: int64

In [2692]:
df_test['BsmtFullBath'].fillna(df_test['BsmtFullBath'].mode()[0], inplace=True)

In [2693]:
df_test['BsmtHalfBath'].value_counts()

0.0    1364
1.0      91
2.0       2
Name: BsmtHalfBath, dtype: int64

In [2694]:
df_test['BsmtHalfBath'].fillna(df_test['BsmtHalfBath'].mode()[0], inplace=True)

In [2695]:
df_test['KitchenQual'].value_counts()

TA    757
Gd    565
Ex    105
Fa     31
Name: KitchenQual, dtype: int64

In [2696]:
df_test['KitchenQual'].fillna(df_test['KitchenQual'].mode()[0], inplace=True)

In [2697]:
df_test['Functional'].value_counts()

Typ     1357
Min2      36
Min1      34
Mod       20
Maj1       5
Maj2       4
Sev        1
Name: Functional, dtype: int64

In [2698]:
df_test['Functional'].fillna(df_test['Functional'].mode()[0], inplace=True)

In [2699]:
df_test['GarageCars'].value_counts()

2.0    770
1.0    407
3.0    193
0.0     76
4.0     11
5.0      1
Name: GarageCars, dtype: int64

In [2700]:
df_test['GarageCars'].fillna(df_test['GarageCars'].mode()[0], inplace=True)

In [2701]:
df_test['GarageArea'].value_counts()

0.0       76
576.0     50
440.0     47
484.0     34
400.0     33
528.0     32
240.0     31
480.0     30
308.0     28
264.0     27
288.0     23
336.0     17
280.0     14
506.0     14
462.0     13
495.0     13
384.0     12
216.0     11
286.0     11
525.0     11
420.0     10
312.0     10
624.0     10
550.0      9
504.0      9
672.0      8
478.0      8
390.0      8
470.0      7
460.0      7
          ..
494.0      1
404.0      1
476.0      1
412.0      1
326.0      1
1200.0     1
332.0      1
836.0      1
760.0      1
428.0      1
283.0      1
485.0      1
543.0      1
443.0      1
569.0      1
581.0      1
787.0      1
711.0      1
1174.0     1
609.0      1
776.0      1
904.0      1
345.0      1
619.0      1
984.0      1
364.0      1
369.0      1
316.0      1
226.0      1
353.0      1
Name: GarageArea, Length: 459, dtype: int64

In [2702]:
df_test['GarageArea'].fillna(df_test['GarageArea'].mode()[0], inplace=True)

In [2703]:
df_test['SaleType'].value_counts()

WD       1258
New       117
COD        44
ConLD      17
CWD         8
Oth         4
ConLI       4
ConLw       3
Con         3
Name: SaleType, dtype: int64

In [2704]:
df_test['SaleType'].fillna(df_test['SaleType'].mode()[0], inplace=True)

In [2705]:
df_test.isnull().any().any()

False

In [2706]:
df_train.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,60,RL,65.0,8450,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,NA,NA,NA,0,2,2008,WD,Normal,208500
1,20,RL,80.0,9600,Pave,Reg,Lvl,AllPub,FR2,Gtl,...,0,NA,NA,NA,0,5,2007,WD,Normal,181500
2,60,RL,68.0,11250,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,NA,NA,NA,0,9,2008,WD,Normal,223500
3,70,RL,60.0,9550,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,NA,NA,NA,0,2,2006,WD,Abnorml,140000
4,60,RL,84.0,14260,Pave,IR1,Lvl,AllPub,FR2,Gtl,...,0,NA,NA,NA,0,12,2008,WD,Normal,250000

In [2707]:
df_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,Gtl,...,144,0,NA,NA,NA,0,1,2010,WD,Normal

In [2708]:
df_train.dtypes[df_train.dtypes=='object'] == df_test.dtypes[df_test.dtypes=='object']

MSZoning         True
Street           True
LotShape         True
LandContour      True
Utilities        True
LotConfig        True
LandSlope        True
Neighborhood     True
Condition1       True
Condition2       True
BldgType         True
HouseStyle       True
RoofStyle        True
RoofMatl         True
Exterior1st      True
Exterior2nd      True
ExterQual        True
ExterCond        True
Foundation       True
BsmtQual         True
BsmtCond         True
BsmtExposure     True
BsmtFinType1     True
BsmtFinType2     True
Heating          True
HeatingQC        True
CentralAir       True
Electrical       True
KitchenQual      True
Functional       True
FireplaceQu      True
GarageType       True
GarageYrBlt      True
GarageFinish     True
GarageQual       True
GarageCond       True
PavedDrive       True
PoolQC           True
Fence            True
MiscFeature      True
SaleType         True
SaleCondition    True
dtype: bool

In [2709]:
df_test.head()

,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,LandContour,Utilities,LotConfig,LandSlope,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,120,0,NA,MnPrv,NA,0,6,2010,WD,Normal
1,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,NA,NA,Gar2,12500,6,2010,WD,Normal
2,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NA,MnPrv,NA,0,3,2010,WD,Normal
3,60,RL,78.0,9978,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,NA,NA,NA,0,6,2010,WD,Normal
4,120,RL,43.0,5005,Pave,IR1,HLS,AllPub,Inside,Gtl,...,144,0,NA,NA,NA,0,1,2010,WD,Normal

In [2710]:
y = df_train['SalePrice']
df_train.drop('SalePrice', axis=1, inplace=True)

In [2711]:
len_train = len(df_train)
print(len_train)

1460

In [2712]:
df = pd.concat([df_train, df_test], axis=0, ignore_index=True)

In [2713]:
df = pd.get_dummies(df)

In [2714]:
df_train = df[:len_train]
df_test = df[len_train:]

In [2715]:
X = df_train

In [2716]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder,PolynomialFeatures
from sklearn.linear_model import LinearRegression,SGDRegressor

In [2717]:
from sklearn.feature_selection import SelectFromModel
from sklearn.model_selection import GridSearchCV

In [2718]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)
estimator = RandomForestRegressor(n_estimators=10, max_depth=5)
select = SelectFromModel(estimator)
select.fit(X_train, y_train)
X_train_s = select.transform(X_train)

In [2719]:
scaler = StandardScaler()
X_train_c = scaler.fit_transform(X_train_s)

In [2720]:
X_train_s.shape

(1095, 22)

In [2721]:
X_test_s = select.transform(X_test)

In [2722]:
X_test_c = scaler.transform(X_test_s)

In [2723]:
lr = LinearRegression()
lr.fit(X_train_s, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [2724]:
lr.score(X_train_s,y_train)

0.8097783687972564

In [2725]:
lr.score(X_test_s, y_test)

0.83884893802377

In [2726]:
sgd = SGDRegressor(learning_rate='constant',eta0=0.01,penalty='l2')
sgd.fit(X_train_c, y_train)

SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
             eta0=0.01, fit_intercept=True, l1_ratio=0.15,
             learning_rate='constant', loss='squared_loss', max_iter=1000,
             n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
             shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
             warm_start=False)

In [2727]:
sgd.score(X_train_c,y_train)

0.686048754904608

In [2728]:
sgd.score(X_test_c,y_test)

0.6785826590544526

In [2729]:
poly = PolynomialFeatures(degree=2).fit(X_train_s)

In [2730]:
X_train_a = poly.transform(X_train_s)

In [2731]:
X_test_a = poly.transform(X_test_s)

In [2732]:
sc = StandardScaler()
sc.fit(X_train_a)
X_train_b = sc.transform(X_train_a)
X_test_b = sc.transform(X_test_a)

In [2733]:
param_grid = {'learning_rate':['constant', 'optimal','invscaling'],
             'eta0':[0.001, 0.01, 0.1],
             'penalty':['l1', 'l2']}

In [2734]:
grid = GridSearchCV(SGDRegressor(), param_grid, cv=5)
grid.fit(X_train_b, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=SGDRegressor(alpha=0.0001, average=False,
                                    early_stopping=False, epsilon=0.1,
                                    eta0=0.01, fit_intercept=True,
                                    l1_ratio=0.15, learning_rate='invscaling',
                                    loss='squared_loss', max_iter=1000,
                                    n_iter_no_change=5, penalty='l2',
                                    power_t=0.25, random_state=None,
                                    shuffle=True, tol=0.001,
                                    validation_fraction=0.1, verbose=0,
                                    warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'eta0': [0.001, 0.01, 0.1],
                         'learning_rate': ['constant', 'optimal', 'invscaling'],
                         'penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [2735]:
grid.score(X_train_b, y_train)

0.92077773898616

In [2736]:
grid.score(X_test_b,y_test)

0.8740044480810873

In [2737]:
from sklearn.pipeline import make_pipeline

In [2738]:
pipe = make_pipeline(SelectFromModel(RandomForestRegressor(n_estimators=10, max_depth=5)), PolynomialFeatures(), StandardScaler(),
                    SGDRegressor())

In [2739]:
param_grid2 = {'sgdregressor__learning_rate':['constant', 'optimal','invscaling'],
             'sgdregressor__eta0':[0.001, 0.01, 0.1],
             'sgdregressor__penalty':['l1', 'l2']}

In [2740]:
grid2 = GridSearchCV(pipe, param_grid2, cv=5)
grid2.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=Pipeline(memory=None,
                                steps=[('selectfrommodel',
                                        SelectFromModel(estimator=RandomForestRegressor(bootstrap=True,
                                                                                        criterion='mse',
                                                                                        max_depth=5,
                                                                                        max_features='auto',
                                                                                        max_leaf_nodes=None,
                                                                                        min_impurity_decrease=0.0,
                                                                                        min_impurity_split=None,
                                                                                        min_samples_leaf=1,
                                                                                        min_samples_split=2,
                                                                                        min_weight_fraction_lea...
                                                     shuffle=True, tol=0.001,
                                                     validation_fraction=0.1,
                                                     verbose=0,
                                                     warm_start=False))],
                                verbose=False),
             iid='warn', n_jobs=None,
             param_grid={'sgdregressor__eta0': [0.001, 0.01, 0.1],
                         'sgdregressor__learning_rate': ['constant', 'optimal',
                                                         'invscaling'],
                         'sgdregressor__penalty': ['l1', 'l2']},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [2741]:
grid2.score(X_train, y_train)

0.9109970087072314

In [2742]:
grid2.score(X_test, y_test)

0.8726255609654385

In [2743]:
grid2.best_estimator_.named_steps

{'selectfrommodel': SelectFromModel(estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                                 max_depth=5,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=10, n_jobs=None,
                                                 oob_score=False,
                                                 random_state=None, verbose=0,
                                                 warm_start=False),
                 max_features=None, norm_order=1, prefit=False, threshold=None),
 'polynomialfeatures': PolynomialFeatures(degree=2, include_bias=True, interaction_only=False,
                    order='C'),
 'standardscaler': StandardScaler(copy=True, with_mean=True, with_std=True),
 'sgdregressor': SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
              eta0=0.001, fit_intercept=True, l1_ratio=0.15,
              learning_rate='invscaling', loss='squared_loss', max_iter=1000,
              n_iter_no_change=5, penalty='l1', power_t=0.25, random_state=None,
              shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
              warm_start=False)}

In [2744]:
grid2.best_estimator_.named_steps['sgdregressor'].coef_

array([ 0.00000000e+00,  7.83045099e+02,  2.08186525e+03,  1.47577787e+03,
        2.01472535e+03,  2.52832640e+03,  2.88133714e+03,  2.07836113e+03,
        2.82064406e+03,  4.59651200e+02,  2.33608300e+03, -1.22792158e+03,
       -1.12698320e+03, -4.92213798e+02,  8.34006212e+00,  2.35076608e+03,
        3.28766565e+02,  1.20561486e+03,  2.26474190e+03,  1.83741341e+03,
        4.47086360e+02,  1.03861451e+03, -4.75094081e+02, -1.04837733e+03,
        4.87458490e+02,  7.99608587e+02,  9.38133856e+02,  9.23358200e+02,
       -1.21285934e+03, -1.38711373e+03, -1.73153446e+03,  1.22580892e+03,
       -9.31938793e+02, -9.96668005e+00, -1.05877452e+03,  4.10352918e+02,
       -1.12837449e+03, -5.23074593e+02, -2.26279141e+03,  4.49530847e+02,
       -1.25573501e+03,  2.92261881e+03,  2.76265851e+02,  1.27493719e+03,
        5.89303452e+02, -2.89177660e+03,  3.43882702e+03,  2.11961096e+03,
        2.15234015e+03, -1.51665963e+03, -9.18735487e+02, -9.29397760e+02,
        2.19279676e+03, -6.79591806e+01,  2.16562557e+02,  1.73857704e+03,
        1.84472498e+03,  1.14055171e+03, -3.21815389e+03, -1.92652442e+03,
       -1.12197960e+03, -4.12997447e+03,  1.21784346e+03, -2.31582175e+03,
       -2.04106969e+03,  5.56297627e+02,  3.25160761e+03,  1.55151719e+03,
        1.61023180e+03,  2.88048711e+03,  3.45319684e+03,  3.76258292e+03,
        2.41445514e+03,  4.32228979e+03,  1.05461139e+03,  3.05292598e+03,
        2.44310206e+03,  2.83859246e+03,  1.27631280e+03, -2.72973564e+02,
        2.07137235e+03,  1.29805669e+03,  5.99117580e+02,  8.00727920e+02,
        1.29944703e+03, -2.15954532e+01,  1.95241351e+03,  2.48732675e+03,
        2.94794390e+03,  2.20782605e+03,  2.96216609e+03,  5.45051297e+02,
        2.52959359e+03, -1.03182413e+03, -8.03376910e+02, -3.81028853e+02,
        1.89547583e+02,  2.32358296e+03,  4.12378607e+02,  1.44465137e+03,
        2.29236450e+03,  1.94184723e+03,  4.72120271e+02,  1.00587020e+03,
       -3.86333284e+02,  2.57148382e+03,  2.95440653e+03,  2.25911002e+03,
        3.01969172e+03,  5.16103157e+02,  2.53310219e+03, -1.02871339e+03,
       -8.23443513e+02, -3.22261805e+02,  2.05017409e+02,  2.40465631e+03,
        3.14275720e+02,  1.33859815e+03,  2.28035927e+03,  1.88780385e+03,
        4.64896106e+02,  1.09805647e+03, -4.83947186e+02, -6.40101795e+01,
        1.67802543e+02,  7.26453048e+01, -3.61841868e+03, -1.09660743e+03,
       -2.08115087e+02,  1.09107670e+03,  2.08812073e+03,  6.11497453e+02,
       -3.93036267e+03, -1.60097422e+03, -1.41438725e+01, -5.11539461e+03,
       -8.34553406e+02,  1.51755231e+03, -5.80845539e+02,  3.28931870e+03,
        3.93869910e+01, -3.81797158e+02, -1.26232754e+02, -4.17760588e+02,
       -4.28188857e+02,  8.88403420e+02,  1.20519296e+03,  2.57680182e+02,
       -2.03740147e+03, -1.15937321e+03, -6.96364541e+02, -7.05093220e+02,
       -2.74009677e+03,  2.27299561e+02, -1.44351993e+02,  1.83461377e+03,
       -7.02599195e+01,  1.51605945e+02, -3.49256690e+01,  3.13681419e+02,
        6.21928427e+02,  1.51463081e+03,  2.16476545e+02, -2.06993075e+03,
        2.23236725e+02, -4.26579373e+02, -1.38008863e+03, -2.17542899e+03,
       -4.25461485e+02, -1.28494847e+03,  5.80606903e+02,  2.81861096e+03,
        1.44612735e+03,  1.79200525e+03,  1.63831819e+03,  2.25462081e+03,
        2.41725722e+03, -2.02058419e+03, -1.84169624e+03, -1.23078475e+03,
       -9.87527348e+02, -2.60758907e+02,  9.69865346e+02,  6.66869373e+02,
       -1.20277341e+02,  7.12539383e+02,  1.21807854e+03,  1.34001217e+03,
        2.60652916e+03,  1.51821425e+03, -1.89669672e+03, -8.85434882e+02,
       -1.09675788e+03, -1.41269174e+03, -1.95398478e+03, -4.63413277e+01,
       -8.88465640e+02,  3.32033447e+02,  5.72821936e+02, -9.04989652e+01,
       -4.97514362e+02,  1.02652346e+01, -2.26927982e+02, -3.17805589e+02,
       -6.37045905e+02,  2.94899637e+03, -3.38101366e+02,  4.86623793e+01,
        5.06971052e+02,  2.74854444e+02, -7.23164346e+02,  8.71551902e+02,
        8.97504639e+02,  1.85614323e+03, -7.13354545e+02, -1.94107188e+03,
        3.58901047e+03, -2.19671827e+03,  1.59530197e+03,  1.95986640e+03,
       -5.67958948e+02, -1.07784433e+03, -3.35747630e+02,  3.38619220e+03,
        9.63854427e+02, -3.33303306e+02,  3.10215137e+03, -7.61183002e+02,
        1.87729907e+03,  5.02019715e+02,  4.18978848e+02,  6.77953392e+02,
        3.57141047e+03, -1.47831235e+03, -6.89907264e+02,  2.26920578e+03,
       -3.01746138e+03,  2.11566438e+03,  7.85849265e+02, -1.56750955e+02,
       -2.13753959e+03,  1.92715700e+03, -1.90829795e+03, -1.10253097e+04,
       -3.35931448e+02, -3.48776939e+03, -2.23887033e+03, -1.39546016e+03,
        1.60767385e+03,  2.04353553e+03, -1.66316563e+03,  3.32332975e+02,
        1.71503986e+03, -1.66316563e+03,  3.70487047e+03,  2.48150024e+02,
       -5.11545787e+02, -1.67984069e+03, -5.46984859e+01, -2.22936437e+03,
       -5.12498639e+02,  2.26474190e+03,  0.00000000e+00,  9.36763985e+02,
        1.21723984e+03,  0.00000000e+00,  1.83741341e+03, -6.78243208e+02,
       -1.95223644e+03, -1.66628993e+03,  4.47086360e+02,  2.89854392e+03,
       -2.37048154e+02,  1.03861451e+03, -1.80890185e+03, -4.75094081e+02])

In [2745]:
pipe.named_steps

{'selectfrommodel': SelectFromModel(estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                                 max_depth=5,
                                                 max_features='auto',
                                                 max_leaf_nodes=None,
                                                 min_impurity_decrease=0.0,
                                                 min_impurity_split=None,
                                                 min_samples_leaf=1,
                                                 min_samples_split=2,
                                                 min_weight_fraction_leaf=0.0,
                                                 n_estimators=10, n_jobs=None,
                                                 oob_score=False,
                                                 random_state=None, verbose=0,
                                                 warm_start=False),
                 max_features=None, norm_order=1, prefit=False, threshold=None),
 'polynomialfeatures': PolynomialFeatures(degree=2, include_bias=True, interaction_only=False,
                    order='C'),
 'standardscaler': StandardScaler(copy=True, with_mean=True, with_std=True),
 'sgdregressor': SGDRegressor(alpha=0.0001, average=False, early_stopping=False, epsilon=0.1,
              eta0=0.01, fit_intercept=True, l1_ratio=0.15,
              learning_rate='invscaling', loss='squared_loss', max_iter=1000,
              n_iter_no_change=5, penalty='l2', power_t=0.25, random_state=None,
              shuffle=True, tol=0.001, validation_fraction=0.1, verbose=0,
              warm_start=False)}

In [2746]:
grid2.best_params_

{'sgdregressor__eta0': 0.001,
 'sgdregressor__learning_rate': 'invscaling',
 'sgdregressor__penalty': 'l1'}

In [2747]:
grid2.best_score_

0.34771052947776526

In [2748]:
res= grid2.predict(df_test)

In [2749]:
res

array([117844.55014955, 161485.6594474 , 177065.45446133, ...,
       177100.25851515, 124631.36367727, 226058.14722832])

In [2750]:
ids = df_test.index + 1

In [2751]:
ids

RangeIndex(start=1461, stop=2920, step=1)

In [2752]:
res_df = pd.DataFrame({'Id':ids,'SalePrice':res})

In [2753]:
res_df.to_csv('answer.csv', index=False)