In [797]:
import pandas as pd
import numpy as np

In [798]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

In [799]:
train_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
0,1,"[{'id': 313576, 'name': 'Hot Tub Time Machine ...",14000000,"[{'id': 35, 'name': 'Comedy'}]",NaN,tt2637294,en,Hot Tub Time Machine 2,"When Lou, who has become the ""father of the In...",6.575393,...,2/20/15,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The Laws of Space and Time are About to be Vio...,Hot Tub Time Machine 2,"[{'id': 4379, 'name': 'time travel'}, {'id': 9...","[{'cast_id': 4, 'character': 'Lou', 'credit_id...","[{'credit_id': '59ac067c92514107af02c8c8', 'de...",12314651
1,2,"[{'id': 107674, 'name': 'The Princess Diaries ...",40000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,tt0368933,en,The Princess Diaries 2: Royal Engagement,Mia Thermopolis is now a college graduate and ...,8.248895,...,8/6/04,113.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It can take a lifetime to find true love; she'...,The Princess Diaries 2: Royal Engagement,"[{'id': 2505, 'name': 'coronation'}, {'id': 42...","[{'cast_id': 1, 'character': 'Mia Thermopolis'...","[{'credit_id': '52fe43fe9251416c7502563d', 'de...",95149435
2,3,NaN,3300000,"[{'id': 18, 'name': 'Drama'}]",http://sonyclassics.com/whiplash/,tt2582802,en,Whiplash,"Under the direction of a ruthless instructor, ...",64.299990,...,10/10/14,105.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The road to greatness can take you to the edge.,Whiplash,"[{'id': 1416, 'name': 'jazz'}, {'id': 1523, 'n...","[{'cast_id': 5, 'character': 'Andrew Neimann',...","[{'credit_id': '54d5356ec3a3683ba0000039', 'de...",13092000
3,4,NaN,1200000,"[{'id': 53, 'name': 'Thriller'}, {'id': 18, 'n...",http://kahaanithefilm.com/,tt1821480,hi,Kahaani,Vidya Bagchi (Vidya Balan) arrives in Kolkata ...,3.174936,...,3/9/12,122.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,Kahaani,"[{'id': 10092, 'name': 'mystery'}, {'id': 1054...","[{'cast_id': 1, 'character': 'Vidya Bagchi', '...","[{'credit_id': '52fe48779251416c9108d6eb', 'de...",16000000
4,5,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,tt1380152,ko,마린보이,Marine Boy is the story of a former national s...,1.148070,...,2/5/09,118.0,"[{'iso_639_1': 'ko', 'name': '한국어/조선말'}]",Released,NaN,Marine Boy,NaN,"[{'cast_id': 3, 'character': 'Chun-soo', 'cred...","[{'credit_id': '52fe464b9251416c75073b43', 'de...",3923970

In [800]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 23 columns):
id                       3000 non-null int64
belongs_to_collection    604 non-null object
budget                   3000 non-null int64
genres                   2993 non-null object
homepage                 946 non-null object
imdb_id                  3000 non-null object
original_language        3000 non-null object
original_title           3000 non-null object
overview                 2992 non-null object
popularity               3000 non-null float64
poster_path              2999 non-null object
production_companies     2844 non-null object
production_countries     2945 non-null object
release_date             3000 non-null object
runtime                  2998 non-null float64
spoken_languages         2980 non-null object
status                   3000 non-null object
tagline                  2403 non-null object
title                    3000 non-null object
Keywords                 2724 non-null object
cast                     2987 non-null object
crew                     2984 non-null object
revenue                  3000 non-null int64
dtypes: float64(2), int64(3), object(18)
memory usage: 539.1+ KB

In [801]:
test_df.head()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,production_countries,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew
0,3001,"[{'id': 34055, 'name': 'Pokémon Collection', '...",0,"[{'id': 12, 'name': 'Adventure'}, {'id': 16, '...",http://www.pokemon.com/us/movies/movie-pokemon...,tt1226251,ja,ディアルガVSパルキアVSダークライ,Ash and friends (this time accompanied by newc...,3.851534,...,"[{'iso_3166_1': 'JP', 'name': 'Japan'}, {'iso_...",7/14/07,90.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Somewhere Between Time & Space... A Legend Is ...,Pokémon: The Rise of Darkrai,"[{'id': 11451, 'name': 'pok√©mon'}, {'id': 115...","[{'cast_id': 3, 'character': 'Tonio', 'credit_...","[{'credit_id': '52fe44e7c3a368484e03d683', 'de..."
1,3002,NaN,88000,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",NaN,tt0051380,en,Attack of the 50 Foot Woman,When an abused wife grows to giant size becaus...,3.559789,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/19/58,65.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A titanic beauty spreads a macabre wave of hor...,Attack of the 50 Foot Woman,"[{'id': 9748, 'name': 'revenge'}, {'id': 9951,...","[{'cast_id': 2, 'character': 'Nancy Fowler Arc...","[{'credit_id': '55807805c3a3685b1300060b', 'de..."
2,3003,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",NaN,tt0118556,en,Addicted to Love,Good-natured astronomer Sam is devastated when...,8.085194,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",5/23/97,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A Comedy About Lost Loves And Last Laughs,Addicted to Love,"[{'id': 931, 'name': 'jealousy'}, {'id': 9673,...","[{'cast_id': 11, 'character': 'Maggie', 'credi...","[{'credit_id': '52fe4330c3a36847f8041367', 'de..."
3,3004,NaN,6800000,"[{'id': 18, 'name': 'Drama'}, {'id': 10752, 'n...",http://www.sonyclassics.com/incendies/,tt1255953,fr,Incendies,A mother's last wishes send twins Jeanne and S...,8.596012,...,"[{'iso_3166_1': 'CA', 'name': 'Canada'}, {'iso...",9/4/10,130.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,The search began at the opening of their mothe...,Incendies,"[{'id': 378, 'name': 'prison'}, {'id': 539, 'n...","[{'cast_id': 6, 'character': 'Nawal', 'credit_...","[{'credit_id': '56478092c3a36826140043af', 'de..."
4,3005,NaN,2000000,"[{'id': 36, 'name': 'History'}, {'id': 99, 'na...",NaN,tt0418753,en,Inside Deep Throat,"In 1972, a seemingly typical shoestring budget...",3.217680,...,"[{'iso_3166_1': 'US', 'name': 'United States o...",2/11/05,92.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It was filmed in 6 days for 25 thousand dollar...,Inside Deep Throat,"[{'id': 279, 'name': 'usa'}, {'id': 1228, 'nam...","[{'cast_id': 1, 'character': 'Narrator (voice)...","[{'credit_id': '52fe44ce9251416c75041967', 'de..."

In [802]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4398 entries, 0 to 4397
Data columns (total 22 columns):
id                       4398 non-null int64
belongs_to_collection    877 non-null object
budget                   4398 non-null int64
genres                   4382 non-null object
homepage                 1420 non-null object
imdb_id                  4398 non-null object
original_language        4398 non-null object
original_title           4398 non-null object
overview                 4384 non-null object
popularity               4398 non-null float64
poster_path              4397 non-null object
production_companies     4140 non-null object
production_countries     4296 non-null object
release_date             4397 non-null object
runtime                  4394 non-null float64
spoken_languages         4356 non-null object
status                   4396 non-null object
tagline                  3535 non-null object
title                    4395 non-null object
Keywords                 4005 non-null object
cast                     4385 non-null object
crew                     4376 non-null object
dtypes: float64(2), int64(2), object(18)
memory usage: 756.0+ KB

In [803]:
train_df.iloc[1,:]

id                                                                       2
belongs_to_collection    [{'id': 107674, 'name': 'The Princess Diaries ...
budget                                                            40000000
genres                   [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
homepage                                                               NaN
imdb_id                                                          tt0368933
original_language                                                       en
original_title                    The Princess Diaries 2: Royal Engagement
overview                 Mia Thermopolis is now a college graduate and ...
popularity                                                         8.24889
poster_path                               /w9Z7A0GHEhIp7etpj0vyKOeU1Wx.jpg
production_companies           [{'name': 'Walt Disney Pictures', 'id': 2}]
production_countries     [{'iso_3166_1': 'US', 'name': 'United States o...
release_date                                                        8/6/04
runtime                                                                113
spoken_languages                  [{'iso_639_1': 'en', 'name': 'English'}]
status                                                            Released
tagline                  It can take a lifetime to find true love; she'...
title                             The Princess Diaries 2: Royal Engagement
Keywords                 [{'id': 2505, 'name': 'coronation'}, {'id': 42...
cast                     [{'cast_id': 1, 'character': 'Mia Thermopolis'...
crew                     [{'credit_id': '52fe43fe9251416c7502563d', 'de...
revenue                                                           95149435
Name: 1, dtype: object

In [804]:
train_df.belongs_to_collection[1]

"[{'id': 107674, 'name': 'The Princess Diaries Collection', 'poster_path': '/wt5AMbxPTS4Kfjx7Fgm149qPfZl.jpg', 'backdrop_path': '/zSEtYD77pKRJlUPx34BJgUG9v1c.jpg'}]"

In [805]:
train_df.genres[1]

"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'name': 'Drama'}, {'id': 10751, 'name': 'Family'}, {'id': 10749, 'name': 'Romance'}]"

In [806]:
train_df.overview[1]

"Mia Thermopolis is now a college graduate and on her way to Genovia to take up her duties as princess. Her best friend Lilly also joins her for the summer. Mia continues her 'princess lessons'- riding horses side-saddle, archery, and other royal. But her complicated life is turned upside down once again when she not only learns that she is to take the crown as queen earlier than expected..."

In [807]:
train_df.production_companies[1]

"[{'name': 'Walt Disney Pictures', 'id': 2}]"

In [808]:
train_df.production_countries[1]

"[{'iso_3166_1': 'US', 'name': 'United States of America'}]"

In [809]:
train_df.spoken_languages[1]

"[{'iso_639_1': 'en', 'name': 'English'}]"

In [810]:
train_df.tagline[1]

"It can take a lifetime to find true love; she's got 30 days!"

In [811]:
train_df.Keywords[1]

"[{'id': 2505, 'name': 'coronation'}, {'id': 4263, 'name': 'duty'}, {'id': 6038, 'name': 'marriage'}, {'id': 13072, 'name': 'falling in love'}]"

In [812]:
eval(train_df.cast[165])

[{'cast_id': 1,
  'character': "Katie O'Dare Scott",
  'credit_id': '52fe446f9251416c91010a6b',
  'gender': 1,
  'id': 37995,
  'name': 'Bo Derek',
  'order': 0,
  'profile_path': '/7WI05Puq8rxZKjXK7nMp82LoNNY.jpg'},
 {'cast_id': 2,
  'character': 'Scott',
  'credit_id': '52fe446f9251416c91010a6f',
  'gender': 2,
  'id': 5401,
  'name': 'Anthony Quinn',
  'order': 1,
  'profile_path': '/9sKpm4KCoUbmMbR86fpqcgBCHrJ.jpg'},
 {'cast_id': 3,
  'character': 'Winston',
  'credit_id': '52fe446f9251416c91010a73',
  'gender': 2,
  'id': 18666,
  'name': 'Don Murray',
  'order': 2,
  'profile_path': '/xYOnJM2zNqRAI1yB7ttlBkOUadO.jpg'},
 {'cast_id': 4,
  'character': 'Angel',
  'credit_id': '52fe44709251416c91010a77',
  'gender': 1,
  'id': 15973,
  'name': 'Julie Newmar',
  'order': 3,
  'profile_path': '/zI0Be7zC6wcGF4zZrdLlnHiLA6u.jpg'},
 {'cast_id': 9,
  'character': 'Himself',
  'credit_id': '583a37519251416b0d00e22a',
  'gender': 2,
  'id': 33663,
  'name': 'Donald Trump',
  'order': 4,
  'profile_path': '/gP73QwYUzskedHNFzQsEfJ7pLzP.jpg'}]

In [813]:
eval(train_df.crew[1])

[{'credit_id': '52fe43fe9251416c7502563d',
  'department': 'Directing',
  'gender': 2,
  'id': 1201,
  'job': 'Director',
  'name': 'Garry Marshall',
  'profile_path': '/kx77E8p5rnEmKxIhFT0qWCEMEik.jpg'},
 {'credit_id': '52fe43fe9251416c75025667',
  'department': 'Camera',
  'gender': 2,
  'id': 1214,
  'job': 'Director of Photography',
  'name': 'Charles Minsky',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025661',
  'department': 'Sound',
  'gender': 2,
  'id': 4500,
  'job': 'Original Music Composer',
  'name': 'John Debney',
  'profile_path': '/hTrlvZlDXQk49nfc2BM9sjKfJv.jpg'},
 {'credit_id': '52fe43fe9251416c7502564f',
  'department': 'Production',
  'gender': 1,
  'id': 8851,
  'job': 'Producer',
  'name': 'Whitney Houston',
  'profile_path': '/69ouDnXnmklYPr4sMJXWKYz81AL.jpg'},
 {'credit_id': '52fe43fe9251416c7502566d',
  'department': 'Editing',
  'gender': 0,
  'id': 12970,
  'job': 'Editor',
  'name': 'Bruce Green',
  'profile_path': '/yplxWPVgwK1b33AjvbhM9mWX2Aw.jpg'},
 {'credit_id': '52fe43fe9251416c75025655',
  'department': 'Production',
  'gender': 2,
  'id': 38415,
  'job': 'Producer',
  'name': 'Mario Iscovich',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c7502565b',
  'department': 'Production',
  'gender': 1,
  'id': 38416,
  'job': 'Executive Producer',
  'name': 'Ellen H. Schwartz',
  'profile_path': '/6WInjABr1sAYGXaa5qOvSrsHIqP.jpg'},
 {'credit_id': '52fe43fe9251416c75025649',
  'department': 'Production',
  'gender': 1,
  'id': 59973,
  'job': 'Producer',
  'name': 'Debra Martin Chase',
  'profile_path': None},
 {'credit_id': '52fe43fe9251416c75025643',
  'department': 'Writing',
  'gender': 1,
  'id': 25539,
  'job': 'Screenplay',
  'name': 'Shonda Rhimes',
  'profile_path': '/4c77e347InbTAlw9lGvORpZBHV6.jpg'}]

In [814]:
train_n = len(train_df)
test_n = len(test_df)

In [815]:
all_df = pd.concat([train_df, test_df], ignore_index=True, sort=False)

In [816]:
all_df.tail()

,id,belongs_to_collection,budget,genres,homepage,imdb_id,original_language,original_title,overview,popularity,...,release_date,runtime,spoken_languages,status,tagline,title,Keywords,cast,crew,revenue
7393,7394,NaN,42000000,"[{'id': 53, 'name': 'Thriller'}]",NaN,tt0218922,en,Original Sin,A young man is plunged into a life of subterfu...,9.970359,...,8/3/01,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,This is not a love story - it's a story about ...,Original Sin,"[{'id': 515, 'name': 'women'}, {'id': 572, 'na...","[{'cast_id': 17, 'character': 'Julia Russell/B...","[{'credit_id': '52fe4330c3a36847f80412db', 'de...",NaN
7394,7395,"[{'id': 146534, 'name': 'Without a Paddle Coll...",19000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,tt0364751,en,Without a Paddle,"Three friends, whose lives have been drifting ...",6.046516,...,8/20/04,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The call of the wild, the thrill of adventure....",Without a Paddle,"[{'id': 4959, 'name': 'death of a friend'}, {'...","[{'cast_id': 40, 'character': 'Dan Mott', 'cre...","[{'credit_id': '52fe43b29251416c7501a909', 'de...",NaN
7395,7396,NaN,16000000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0084855,en,The Verdict,"Frank Galvin is a down-on-his luck lawyer, red...",9.596883,...,12/8/82,129.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The doctors want to settle, the Church wants t...",The Verdict,"[{'id': 1680, 'name': 'boston'}, {'id': 6148, ...","[{'cast_id': 1, 'character': 'Frank Galvin', '...","[{'credit_id': '52fe448bc3a368484e028c55', 'de...",NaN
7396,7397,NaN,2000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,tt3235888,en,It Follows,"For 19-year-old Jay, fall should be about scho...",20.359336,...,2/4/15,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"It doesn't think, it doesn't feel, it doesn't ...",It Follows,"[{'id': 3713, 'name': 'chase'}, {'id': 6152, '...","[{'cast_id': 1, 'character': 'Jay Height', 'cr...","[{'credit_id': '537770b20e0a261431002299', 'de...",NaN
7397,7398,NaN,64000,"[{'id': 18, 'name': 'Drama'}]",NaN,tt0056663,fr,Vivre sa vie: film en douze tableaux,Twelve episodic tales in the life of a Parisia...,11.305910,...,9/20/62,85.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,The many faces of a woman trying to find herse...,Vivre Sa Vie,"[{'id': 90, 'name': 'paris'}, {'id': 490, 'nam...","[{'cast_id': 8, 'character': 'Nana Kleinfranke...","[{'credit_id': '52fe4306c3a36847f80349a5', 'de...",NaN

In [817]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Data columns (total 23 columns):
id                       7398 non-null int64
belongs_to_collection    1481 non-null object
budget                   7398 non-null int64
genres                   7375 non-null object
homepage                 2366 non-null object
imdb_id                  7398 non-null object
original_language        7398 non-null object
original_title           7398 non-null object
overview                 7376 non-null object
popularity               7398 non-null float64
poster_path              7396 non-null object
production_companies     6984 non-null object
production_countries     7241 non-null object
release_date             7397 non-null object
runtime                  7392 non-null float64
spoken_languages         7336 non-null object
status                   7396 non-null object
tagline                  5938 non-null object
title                    7395 non-null object
Keywords                 6729 non-null object
cast                     7372 non-null object
crew                     7360 non-null object
revenue                  3000 non-null float64
dtypes: float64(3), int64(2), object(18)
memory usage: 1.3+ MB

In [818]:
from collections import Counter

In [819]:
all_df['has_name'] = all_df.belongs_to_collection.apply(lambda x:0 if pd.isna(x) else 1)

In [820]:
all_df.belongs_to_collection = all_df.belongs_to_collection.apply(lambda x:''if pd.isna(x) else eval(x)[0]['name'])

In [821]:
most_collection = [i[0] for i in Counter(all_df.belongs_to_collection).most_common(30)[1:]]

In [822]:
for i in most_collection:
    all_df['most_collection_' +  i] = all_df.belongs_to_collection.apply(lambda x: 1 if x==i else 0)

In [823]:
all_df['genres'] = all_df.genres.apply(lambda x:[] if pd.isna(x) else [i['name'] for i in eval(x)])

In [824]:
all_genere = []
for i in all_df['genres']:
    all_genere.extend(i)

In [825]:
all_genere = set(all_genere)

In [826]:
for i in all_genere:
    all_df['genere_'+i] = all_df['genres']
    all_df['genere_'+i] = all_df['genere_'+i].apply(lambda x:1 if i in x else 0)

In [827]:
all_df['overview_len'] = all_df.overview.apply(lambda x:0 if pd.isna(x) else len(x.split()))

In [828]:
all_df['production_companies_len'] = all_df.production_companies.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [829]:
def most_dummies(df, col, tag):
    new_col = df[col].apply(lambda x:[] if pd.isna(x) else [i[tag] for i in eval(x)])
    most_types = [k[0] for k in Counter(j for i in new_col for j in i).most_common(30)]
    for i in most_types:
        df[col+'_'+i] = new_col.apply(lambda x:1 if i in x else 0)

In [830]:
most_dummies(all_df, 'production_companies', 'name')

In [831]:
all_df['spoken_languages_len'] = all_df.spoken_languages.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [832]:
most_dummies(all_df, 'spoken_languages', 'iso_639_1')

In [833]:
all_df['production_countries_len'] = all_df.production_countries.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [834]:
most_dummies(all_df, 'production_countries', 'iso_3166_1')

In [835]:
all_df['tagline_len'] = all_df.tagline.apply(lambda x:0 if pd.isna(x) else len(x.split()))

In [836]:
all_df['Keywords_len'] = all_df.Keywords.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [837]:
most_dummies(all_df, 'Keywords', 'name')

In [838]:
all_df['cast_len']  = all_df.cast.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [839]:
most_dummies(all_df, 'cast', 'name')

In [840]:
most_dummies(all_df, 'cast', 'character')

In [841]:
genders = [0, 1, 2]
cast_gender = all_df.cast.apply(lambda x:[] if pd.isna(x) else [i['gender'] for i in eval(x)])

In [842]:
for i in genders:
    all_df['genders_'+str(i)] = cast_gender.apply(lambda x: sum([1 for j in x if j==i]))

In [843]:
all_df['crew_len']  = all_df.crew.apply(lambda x:0 if pd.isna(x) else len(eval(x)))

In [844]:
most_dummies(all_df, 'crew', 'name')

In [845]:
most_dummies(all_df, 'crew', 'department')

In [846]:
most_dummies(all_df, 'crew', 'job')

In [847]:
crew_gender = all_df.crew.apply(lambda x:[] if pd.isna(x) else [i['gender'] for i in eval(x)])

In [848]:
for i in genders:
    all_df['crew_genders_'+str(i)] = crew_gender.apply(lambda x: sum([1 for j in x if j==i]))

In [849]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [850]:
all_df['budget'] = all_df['budget'].replace(0, all_df['budget'].median())

In [851]:
all_df['budget']= StandardScaler().fit_transform(all_df.budget.values.reshape(-1,1))
# all_df['budget']= MinMaxScaler().fit_transform(all_df.budget.values.reshape(-1,1))

In [852]:
all_df['has_homepage']= all_df.homepage.apply(lambda x:0 if pd.isna(x) else 1)

In [853]:
all_df['original_title_duplicated'] = 0
all_df.loc[all_df.original_title.duplicated(keep=False), 'original_title_duplicated'] = 1

In [854]:
all_df['popularity']= StandardScaler().fit_transform(all_df.popularity.values.reshape(-1,1))
# all_df['popularity']= MinMaxScaler().fit_transform(all_df.popularity.values.reshape(-1,1))

In [855]:
all_df['has_poster_path'] = all_df.poster_path.apply(lambda x:0 if pd.isna(x) else 1)

In [856]:
all_df['release_date'].fillna('1/1/00', inplace=True)

In [857]:
all_df['release_date'] = all_df['release_date'].apply(lambda x: [int(i) for i in x.split('/')])

In [858]:
all_df['2010_2019'] = all_df['release_date'].apply(lambda x: 1 if  10<=x[2]<=19 else 0)

In [859]:
all_df['1995_2010'] = all_df['release_date'].apply(lambda x: 1 if  95<=x[2]<100 or 0<x[2]<10 else 0)

In [860]:
all_df['1950_1995'] = all_df['release_date'].apply(lambda x: 1 if  50<=x[2]<95 else 0)

In [861]:
all_df['release_month'] = all_df['release_date'].apply(lambda x: x[0])

In [862]:
all_df['runtime'] = all_df.runtime.fillna(all_df.runtime.median()).replace(0, all_df.runtime.median())

In [863]:
all_df['runtime'] = StandardScaler().fit_transform(all_df.runtime.values.reshape(-1,1))
# all_df['runtime'] = MinMaxScaler().fit_transform(all_df.runtime.values.reshape(-1,1))

In [864]:
all_df['same_titile'] =0
all_df.loc[all_df['original_title']==all_df['title'], 'same_titile']= 1

In [865]:
all_df.status.fillna(all_df.status.mode()[0], inplace=True)

In [866]:
drop_cols = ['id', 'belongs_to_collection','genres','homepage', 'imdb_id', 'original_title','overview',
             'poster_path','production_companies', 'production_countries','release_date','spoken_languages',
            'tagline','title','Keywords','cast','crew']

In [867]:
all_df.drop(drop_cols, axis=1, inplace=True)

In [868]:
all_df.head()

,budget,original_language,popularity,runtime,status,revenue,has_name,most_collection_James Bond Collection,most_collection_Friday the 13th Collection,most_collection_Pokémon Collection,...,crew_genders_1,crew_genders_2,has_homepage,original_title_duplicated,has_poster_path,2010_2019,1995_2010,1950_1995,release_month,same_titile
0,-0.297337,en,-0.159439,-0.725523,Released,12314651.0,1,0,0,0,...,0,13,0,0,1,1,0,0,2,1
1,0.428396,en,-0.021872,0.241231,Released,95149435.0,1,0,0,0,...,4,4,0,0,1,0,1,0,8,1
2,-0.596005,en,4.585709,-0.145471,Released,13092000.0,0,0,0,0,...,4,11,1,0,1,1,0,0,10,1
3,-0.654621,hi,-0.438968,0.676271,Released,16000000.0,0,0,0,0,...,0,0,1,0,1,1,0,0,3,1
4,-0.478771,ko,-0.605583,0.482920,Released,3923970.0,0,0,0,0,...,0,0,0,0,1,0,1,0,2,0

In [869]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Columns: 330 entries, budget to same_titile
dtypes: float64(4), int64(324), object(2)
memory usage: 18.6+ MB

In [870]:
dummy_cols = ['original_language','status', 'release_month']

In [871]:
from sklearn.preprocessing import LabelEncoder

In [872]:
# for i in dummy_cols:
#     all_df[i] = LabelEncoder().fit_transform(all_df[i].values.reshape(-1,1))

In [873]:
all_df = pd.get_dummies(all_df, columns=dummy_cols)

In [874]:
all_df.head()

,budget,popularity,runtime,revenue,has_name,most_collection_James Bond Collection,most_collection_Friday the 13th Collection,most_collection_Pokémon Collection,most_collection_The Fast and the Furious Collection,most_collection_The Pink Panther (Original) Collection,...,release_month_3,release_month_4,release_month_5,release_month_6,release_month_7,release_month_8,release_month_9,release_month_10,release_month_11,release_month_12
0,-0.297337,-0.159439,-0.725523,12314651.0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.428396,-0.021872,0.241231,95149435.0,1,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,-0.596005,4.585709,-0.145471,13092000.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,-0.654621,-0.438968,0.676271,16000000.0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,-0.478771,-0.605583,0.482920,3923970.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [875]:
all_df.columns.values

array(['budget', 'popularity', 'runtime', 'revenue', 'has_name',
       'most_collection_James Bond Collection',
       'most_collection_Friday the 13th Collection',
       'most_collection_Pokémon Collection',
       'most_collection_The Fast and the Furious Collection',
       'most_collection_The Pink Panther (Original) Collection',
       'most_collection_Star Wars Collection',
       'most_collection_Halloween Collection',
       'most_collection_Harry Potter Collection',
       'most_collection_A Nightmare on Elm Street Collection',
       'most_collection_Rocky Collection',
       'most_collection_Police Academy Collection',
       'most_collection_Saw Collection',
       'most_collection_The Muppet Collection',
       'most_collection_X-Men Collection',
       'most_collection_Resident Evil Collection',
       'most_collection_Paranormal Activity Collection',
       'most_collection_Star Trek: The Original Series Collection',
       'most_collection_Ice Age Collection',
       'most_collection_The Jack Ryan Collection',
       'most_collection_Step Up Collection',
       'most_collection_The Twilight Collection',
       "most_collection_Child's Play Collection",
       "most_collection_National Lampoon's Vacation Collection",
       'most_collection_Transformers Collection',
       'most_collection_Planet of the Apes Original Collection',
       'most_collection_Superman Collection',
       'most_collection_Final Destination Collection',
       'most_collection_The Terminator Collection',
       'most_collection_The Bourne Collection', 'genere_Western',
       'genere_Family', 'genere_Comedy', 'genere_Thriller',
       'genere_Horror', 'genere_Science Fiction', 'genere_Documentary',
       'genere_Mystery', 'genere_War', 'genere_Fantasy', 'genere_Romance',
       'genere_Drama', 'genere_Crime', 'genere_Adventure',
       'genere_TV Movie', 'genere_Animation', 'genere_History',
       'genere_Music', 'genere_Foreign', 'genere_Action', 'overview_len',
       'production_companies_len', 'production_companies_Warner Bros.',
       'production_companies_Universal Pictures',
       'production_companies_Paramount Pictures',
       'production_companies_Twentieth Century Fox Film Corporation',
       'production_companies_Columbia Pictures',
       'production_companies_Metro-Goldwyn-Mayer (MGM)',
       'production_companies_New Line Cinema',
       'production_companies_Touchstone Pictures',
       'production_companies_Walt Disney Pictures',
       'production_companies_Columbia Pictures Corporation',
       'production_companies_Canal+',
       'production_companies_TriStar Pictures',
       'production_companies_Relativity Media',
       'production_companies_United Artists',
       'production_companies_Miramax Films',
       'production_companies_Village Roadshow Pictures',
       'production_companies_Regency Enterprises',
       'production_companies_DreamWorks SKG',
       'production_companies_Fox Searchlight Pictures',
       'production_companies_Amblin Entertainment',
       'production_companies_Lionsgate',
       'production_companies_StudioCanal',
       'production_companies_Working Title Films',
       'production_companies_Dune Entertainment',
       'production_companies_Summit Entertainment',
       'production_companies_Dimension Films',
       'production_companies_BBC Films',
       'production_companies_Orion Pictures',
       'production_companies_Hollywood Pictures',
       'production_companies_Fox 2000 Pictures', 'spoken_languages_len',
       'spoken_languages_en', 'spoken_languages_fr',
       'spoken_languages_es', 'spoken_languages_de',
       'spoken_languages_ru', 'spoken_languages_it',
       'spoken_languages_ja', 'spoken_languages_zh',
       'spoken_languages_hi', 'spoken_languages_ar',
       'spoken_languages_pt', 'spoken_languages_cn',
       'spoken_languages_ko', 'spoken_languages_pl',
       'spoken_languages_la', 'spoken_languages_hu',
       'spoken_languages_cs', 'spoken_languages_th',
       'spoken_languages_ta', 'spoken_languages_sv',
       'spoken_languages_he', 'spoken_languages_tr',
       'spoken_languages_el', 'spoken_languages_da',
       'spoken_languages_nl', 'spoken_languages_ur',
       'spoken_languages_ro', 'spoken_languages_vi',
       'spoken_languages_no', 'spoken_languages_yi',
       'production_countries_len', 'production_countries_US',
       'production_countries_GB', 'production_countries_FR',
       'production_countries_DE', 'production_countries_CA',
       'production_countries_IN', 'production_countries_IT',
       'production_countries_JP', 'production_countries_AU',
       'production_countries_ES', 'production_countries_RU',
       'production_countries_CN', 'production_countries_HK',
       'production_countries_BE', 'production_countries_IE',
       'production_countries_KR', 'production_countries_SE',
       'production_countries_MX', 'production_countries_NL',
       'production_countries_DK', 'production_countries_NZ',
       'production_countries_CZ', 'production_countries_CH',
       'production_countries_ZA', 'production_countries_BR',
       'production_countries_NO', 'production_countries_AT',
       'production_countries_LU', 'production_countries_RO',
       'production_countries_FI', 'tagline_len', 'Keywords_len',
       'Keywords_woman director', 'Keywords_independent film',
       'Keywords_duringcreditsstinger', 'Keywords_based on novel',
       'Keywords_murder', 'Keywords_violence', 'Keywords_love',
       'Keywords_revenge', 'Keywords_sex', 'Keywords_aftercreditsstinger',
       'Keywords_biography', 'Keywords_sport', 'Keywords_friendship',
       'Keywords_dystopia', 'Keywords_police', 'Keywords_suspense',
       'Keywords_sequel', 'Keywords_nudity', 'Keywords_musical',
       'Keywords_teenager', 'Keywords_female nudity', 'Keywords_drug',
       'Keywords_los angeles', 'Keywords_new york', 'Keywords_prison',
       'Keywords_3d', 'Keywords_high school', 'Keywords_family',
       'Keywords_alien', 'Keywords_world war ii', 'cast_len',
       'cast_Samuel L. Jackson', 'cast_Robert De Niro',
       'cast_Bruce Willis', 'cast_Morgan Freeman', 'cast_Liam Neeson',
       'cast_Willem Dafoe', 'cast_Steve Buscemi',
       'cast_Sylvester Stallone', 'cast_Nicolas Cage', 'cast_Matt Damon',
       'cast_J.K. Simmons', 'cast_John Goodman', 'cast_Julianne Moore',
       'cast_Christopher Walken', 'cast_Robin Williams',
       'cast_Johnny Depp', 'cast_Stanley Tucci', 'cast_Harrison Ford',
       'cast_Richard Jenkins', 'cast_Ben Stiller', 'cast_Susan Sarandon',
       'cast_Brad Pitt', 'cast_Tom Hanks', 'cast_Keith David',
       'cast_John Leguizamo', 'cast_Woody Harrelson', 'cast_Bill Murray',
       'cast_Dennis Quaid', 'cast_James Franco', 'cast_Dustin Hoffman',
       'cast_', 'cast_Himself', 'cast_Herself', 'cast_Dancer',
       'cast_Additional Voices (voice)', 'cast_Doctor', 'cast_Reporter',
       'cast_Nurse', 'cast_Waitress', 'cast_Bartender', 'cast_Priest',
       'cast_Soldier', 'cast_Security Guard', 'cast_(uncredited)',
       'cast_Cop', 'cast_Paul', 'cast_Jack', 'cast_Frank', 'cast_Sam',
       'cast_Charlie', 'cast_Waiter', 'cast_Student', 'cast_Policeman',
       'cast_Receptionist', 'cast_Sarah', 'cast_Guard', 'cast_Mike',
       'cast_Additional Voice (voice)', 'cast_(voice)', 'cast_Judge',
       'genders_0', 'genders_1', 'genders_2', 'crew_len',
       'crew_Avy Kaufman', 'crew_Steven Spielberg',
       'crew_Robert Rodriguez', 'crew_Mary Vernieu',
       'crew_Deborah Aquila', 'crew_Bob Weinstein',
       'crew_Harvey Weinstein', 'crew_Hans Zimmer', 'crew_Tricia Wood',
       'crew_James Newton Howard', 'crew_James Horner', 'crew_Luc Besson',
       'crew_Francine Maisler', 'crew_Kerry Barden',
       'crew_Jerry Goldsmith', 'crew_John Williams', 'crew_Danny Elfman',
       'crew_Alan Silvestri', 'crew_Billy Hopkins', 'crew_Suzanne Smith',
       "crew_Dan O'Connell", 'crew_Clint Eastwood', 'crew_Arnon Milchan',
       'crew_Scott Rudin', 'crew_John Papsidera', 'crew_Mark Isham',
       'crew_John Debney', 'crew_Marco Beltrami', 'crew_Tim Bevan',
       'crew_Bruce Berman', 'crew_Production', 'crew_Sound', 'crew_Art',
       'crew_Crew', 'crew_Writing', 'crew_Costume & Make-Up',
       'crew_Camera', 'crew_Directing', 'crew_Editing',
       'crew_Visual Effects', 'crew_Lighting', 'crew_Actors',
       'crew_Producer', 'crew_Executive Producer', 'crew_Director',
       'crew_Screenplay', 'crew_Editor', 'crew_Casting',
       'crew_Director of Photography', 'crew_Original Music Composer',
       'crew_Art Direction', 'crew_Production Design',
       'crew_Costume Design', 'crew_Writer', 'crew_Set Decoration',
       'crew_Makeup Artist', 'crew_Sound Re-Recording Mixer',
       'crew_Script Supervisor', 'crew_Camera Operator', 'crew_Animation',
       'crew_Visual Effects Supervisor', 'crew_Hairstylist',
       'crew_Sound Effects Editor', 'crew_Still Photographer',
       'crew_Visual Effects Producer', 'crew_Music Editor',
       'crew_Dialogue Editor', 'crew_Co-Producer', 'crew_Music',
       'crew_Stunts', 'crew_Stunt Coordinator',
       'crew_Supervising Sound Editor', 'crew_genders_0',
       'crew_genders_1', 'crew_genders_2', 'has_homepage',
       'original_title_duplicated', 'has_poster_path', '2010_2019',
       '1995_2010', '1950_1995', 'same_titile', 'original_language_af',
       'original_language_ar', 'original_language_bm',
       'original_language_bn', 'original_language_ca',
       'original_language_cn', 'original_language_cs',
       'original_language_da', 'original_language_de',
       'original_language_el', 'original_language_en',
       'original_language_es', 'original_language_fa',
       'original_language_fi', 'original_language_fr',
       'original_language_he', 'original_language_hi',
       'original_language_hu', 'original_language_id',
       'original_language_is', 'original_language_it',
       'original_language_ja', 'original_language_ka',
       'original_language_kn', 'original_language_ko',
       'original_language_ml', 'original_language_mr',
       'original_language_nb', 'original_language_nl',
       'original_language_no', 'original_language_pl',
       'original_language_pt', 'original_language_ro',
       'original_language_ru', 'original_language_sr',
       'original_language_sv', 'original_language_ta',
       'original_language_te', 'original_language_th',
       'original_language_tr', 'original_language_ur',
       'original_language_vi', 'original_language_xx',
       'original_language_zh', 'status_Post Production',
       'status_Released', 'status_Rumored', 'release_month_1',
       'release_month_2', 'release_month_3', 'release_month_4',
       'release_month_5', 'release_month_6', 'release_month_7',
       'release_month_8', 'release_month_9', 'release_month_10',
       'release_month_11', 'release_month_12'], dtype=object)

In [876]:
all_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7398 entries, 0 to 7397
Columns: 386 entries, budget to release_month_12
dtypes: float64(4), int64(323), uint8(59)
memory usage: 18.9 MB

In [877]:
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.linear_model import SGDRegressor, LinearRegression, Ridge, Lasso
from sklearn.ensemble import RandomForestRegressor

In [878]:
train = all_df[:train_n]
test = all_df[train_n:]

In [879]:
train_y = train['revenue']
train = train.drop('revenue', axis=1)
test = test.drop('revenue', axis=1)

In [880]:
X_train, X_test, y_train, y_test = train_test_split(train, train_y)
lr = LinearRegression()
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [881]:
lr.score(X_test, y_test)

-5.4891579414909005e+17

In [882]:
lr.score(X_train, y_train)

0.7744808120653828

In [883]:
rf = RandomForestRegressor()
rf.fit(X_train, y_train)

e:\工具\python\python36\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
                      max_features='auto', max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, n_estimators=10,
                      n_jobs=None, oob_score=False, random_state=None,
                      verbose=0, warm_start=False)

In [884]:
rf.score(X_test, y_test)

0.7019210758719414

In [897]:
param_grid = {'max_depth':[5, 10, None],
             'n_estimators':[10, 50, 100]
             }
grid = GridSearchCV(RandomForestRegressor(), param_grid, cv=5)
grid.fit(X_train, y_train)

GridSearchCV(cv=5, error_score='raise-deprecating',
             estimator=RandomForestRegressor(bootstrap=True, criterion='mse',
                                             max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators='warn', n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='warn', n_jobs=None,
             param_grid={'max_depth': [5, 10, None],
                         'n_estimators': [10, 50, 100]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [898]:
grid.score(X_test, y_test)

0.7421829140665273

In [899]:
predict = grid.predict(test)

In [900]:
submission = pd.DataFrame({'id': test_df.id,
                          'revenue': predict})

In [901]:
submission.to_csv('submission.csv', index=False)

In [890]:
ridge = Ridge()
ridge.fit(X_train, y_train)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

In [891]:
ridge.score(X_test, y_test)

0.6673189953992475

In [892]:
lasso = Lasso()
lasso.fit(X_train, y_train)

e:\工具\python\python36\lib\site-packages\sklearn\linear_model\coordinate_descent.py:475: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 6.020985447731261e+17, tolerance: 4086533021406450.0
  positive)

Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
      normalize=False, positive=False, precompute=False, random_state=None,
      selection='cyclic', tol=0.0001, warm_start=False)

In [893]:
lasso.score(X_test, y_test)

0.6515422487050303